<h1 class="h1">Proyecto</h1>
<div>
    <h1>Objetivo:</h1>
    <p class="p">El objetivo de esta pagina y/o proyecto es el tratado de datos en formato json, para mostrar los datos de manera que este los pueda entender de una manera mas sencilla, en la primera parte de este proyecto se trabajara con la base de un archivo json,
        proporcionado por el gobierno del estado de veracruz, en donde se almacenan algunas ubicaciones de sus vehiculos de recoleccion de basura</p>
    <p class="p">
        En la segunda fase de este proyecto permitira el trabajo con base de datos, en este punto se maneja informacion real obtenida de el Municipio de Metepec Hidalgo, en donde se ubican algunas comunidades del Municipio con el fin de obtener la ubicacion de
        estas
    </p>
</div>
<div>
    <table class="table">
        <th>Descripcion</th>
        <th>Vinculo</th>
        <tr>
            <td>Datos Libres</td>
            <td>
                <a href="/leer">Ir</a>
            </td>
        </tr>
        <tr>
            <td>Busqueda de datos</td>
            <td>
                <a href="/buscar">Ir </td>
        </tr>
        <tr>
            <td>Mapeo de referencia</td>
            <td>
                <a href="/mapa">Ir</a>
            </td>

        </tr>
        <tr>
            <td>Acceso a base de datos</td>
            <td>
                <a href="/login">Acceder</a>
            </td>
        </tr>

    </table>
</div>